@(title: String)(content: Html)(postjs: Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="backdrop" class="container">
      <div id="header"><a href="/"><h1>@title</h1></a></div>
      <div id="content">
          @content
      </div>
      <footer>
        <p>&copy; David Taylor 2012. Powered by <a href="http://rdio.com">rdio</a>.</p>
      </footer>
    </div> <!-- /container -->
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/rdio/jquery.rdio.js")" type="text/javascript"></script>
    @postjs
  </body>
</html>