@(year: String, playlist: Seq[ChartItem], token: String)

@main("highschool.fm / " + year) {
  <script src="http://www.rdio.com/api/api.js?helper=/assets/helper.html&client_id=uEpXmUZL-BYq3G603zjGnQ"></script>

  <script type="text/javascript">
    var playbackToken = '@token';
  </script>
  <div id="artBox">
    <img id="art" src="" height="100" width="100">
    <div id="play"><img src="@routes.Assets.at("images/play.png")" height="100" width="100" /></div>
    <div id="pause"><img src="@routes.Assets.at("images/pause.png")" height="100" width="100" /></div>
  </div>
  <ol id="queue">
  @playlist.map { item =>
  <li
    @{item.track.rdio.filter(_.streamable)
      .map(rd => "class=enqueued id="+rd.key)
      .getOrElse("class=nostream")}>
      <div class="chartpos">
        <rank>@item.rank</rank>
        <year>@item.year</year>
      </div>
      <div class="track">
        <span class="title">@item.track.title</span>
        <img src="@routes.Assets.at("images/skip.png")" class="skip" />
        <span class="artist">@item.track.artist</span>
      </div>
      <div class="clearfix"></div>
    </li>
  }
  </ol>
  <div id="api"></div>
}{
  <script src="@routes.Assets.at("javascripts/player.js")" type="text/javascript"></script>
}