@(year: String, playlist: Seq[Track.WithRank], token: String)

@main("highschool.fm / " + year) {
  <script type="text/javascript">
    var playbackToken = '@token';
  </script>
  <div>
    <button id="play">|&gt;</button>
    <button id="pause">||</button>
    <button id="next">&gt;&gt;</button>
  </div>

  <div id="artBox">
    <img id="art" src="" height="100" width="100">
  </div>
  <ol id="queue">
  @playlist.map { item =>
  <li
    @{item.track.rdio.filter(_.streamable)
      .map(rd => "class=stream id="+rd.key)
      .getOrElse("class=nostream")}>
      <div class="chartpos">
        <rank>@item.rank</rank>
        <year>@item.year</year>
      </div>
      <div class="track">
        <title>@item.track.title</title>
        <artist>@item.track.artist</artist>
      </div>
      <div class="clearfix"></div>
    </li>
  }
  </ol>
  <div id="api"></div>
}